

p {
    font-family: 'Montserrat';
}

h1
h2
h3 {
    font-family: 'Poppins';
}


:root{
    --bg-color:#f2edf5;
    --main-color:#46286e;
    --accent-color:#662485;
    --sec-accent-color:#b98fd6;
    --tert-accent-color:#d7b6ea;
    --text-color:#1f1f1f;
}

body{
    margin:0;
    font-family:'Montserrat', system-ui;
    background:var(--bg-color);
    color:var(--text-color);
}

h1,h2,h3{
    font-family:'Poppins',sans-serif;
}

section{
    width:100%;
}