:root {
    --main-color:#46286e;
    --accent-color-1:#662485;
    --accent-color-2:#b98fd6;
    --white-purple:#f2edf5;
    --white:#fdfef8;
}

p {
    font-family: 'Montserrat';
}

h1
h2
h3 {
    font-family: 'Poppins';
}
